.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    margin-top: 150px; 
   }
.container h2 {
text-align: center;
color: #3c009d;
font-size: 40px;
font-weight: bold;
text-decoration: underline;
text-underline-offset:15px;
text-decoration-thickness: 5px;
}
.input-with-icon {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: #fff;
    width: 100%;
    max-width: 320px;
    }
.icon-left{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.input-with-icon input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background: transparent;
}
.input-icon{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    opacity: 1;
    object-fit: contain;
    filter: contrast(2);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
   }
.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 200px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}
.input img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: middle;
    background-color: transparent;
    }

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
    background: #eaeaea;
    border-radius: 6px;
    gap: 15px;
    
}
.input input{
 height: 50px;
 width: 400px;
 background: transparent;
 border: none;
 outline: none;
 color: #797979;
 font-size: 19px;   
}

.forgot-password{
    text-align: center;
    align-items: center;
    margin-top: 27px;
    flex-direction: column;
    color: #0f0f0f;
    font-size: 18px;
}
.forgot-password span{
color: #3c009d;
cursor: pointer;
}
.submit-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #797979;
    font-size: 18px;
}
.submit{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color: #676767;
}
.inputs span{
    font-size: 14px;
    color: red;
    
    }
.submit-container span{
    font-size: 14px;
    color: red;
   
}
#name-error {
    color-scheme: red;
    font-size: 12 px;
    white-space: nowrap;
    text-align: right;
    gap: 12px;
    }

#submit.error{
color: red;
    }
.error{
    color: red;
    font-size: 12px;
    white-space: nowrap;
}
.input-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

}

.button-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    border:2px black;
    background-color: #3c009d;
    color:#eaeaea;

    

}





